In [1]:
from fastai.tabular import *
import pandas as pd

In [2]:
path = untar_data(URLs.ADULT_SAMPLE)

In [3]:
path

PosixPath('/media/michael/WDC Black/Documents/PythonProjects/data/adult_sample')

In [4]:
df = pd.read_csv(path/'adult.csv')

In [5]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,49,Private,101320,Assoc-acdm,12.0,Married-civ-spouse,NaN,Wife,White,Female,0,1902,40,United-States,>=50k
1,44,Private,236746,Masters,14.0,Divorced,Exec-managerial,Not-in-family,White,Male,10520,0,45,United-States,>=50k
2,38,Private,96185,HS-grad,NaN,Divorced,NaN,Unmarried,Black,Female,0,0,32,United-States,<50k
3,38,Self-emp-inc,112847,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,>=50k
4,42,Self-emp-not-inc,82297,7th-8th,NaN,Married-civ-spouse,Other-service,Wife,Black,Female,0,0,50,United-States,<50k

In [7]:
procs = [FillMissing, Categorify, Normalize]

In [8]:
FillMissing??

In [9]:
valid_idx = range(len(df)-2000, len(df))

In [10]:
dep_var = 'salary'
cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex',
             'native-country']

In [11]:
data = TabularDataBunch.from_df??

In [13]:
doc(TabularDataBunch)

In [14]:
data = TabularDataBunch.from_df(path, df, dep_var, valid_idx=valid_idx, procs=procs, cat_names=cat_names)

In [15]:
print(data.train_ds.cont_names)

['capital-loss', 'hours-per-week', 'capital-gain', 'education-num', 'fnlwgt', 'age']

In [16]:
(cat_x, cont_x), y = next(iter(data.train_dl))

In [17]:
for o in (cat_x, cont_x, y): print(to_np(o[:5]))

[[ 5  8  3 14  1  5  2 40  1]
 [ 5  2  3  4  1  5  2 40  1]
 [ 6  6  3  4  1  5  2  1  1]
 [ 5 16  3 11  1  5  2 40  1]
 [ 5  9  5  2  2  5  2  1  1]]
[[-0.216787  0.287377 -0.145922  0.753904  0.102505  0.100758]
 [-0.216787 -0.035789 -0.145922 -1.205218 -0.733437 -0.118923]
 [-0.216787 -0.035789 -0.145922 -2.380691  0.16845   0.613348]
 [-0.216787  0.368169 -0.145922 -0.029745  1.389404  0.393667]
 [-0.216787 -0.035789 -0.145922  0.362079  0.570768 -0.997648]]
[0 1 0 0 0]

In [18]:
learn = tabular_learner(data, layers=[200,100], emb_szs={'native-country': 10}, metrics=accuracy)

In [19]:
learn.fit_one_cycle(1, 1e-2)

In [20]:
learn.predict(df.iloc[0])

(Category >=50k, tensor(1), tensor([0.3354, 0.6646]))

In [22]:
learn.data.classes[1]

'>=50k'